body {
    font-family: "Cuprum", "Arial", sans-serif;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.top-header-layout {
    background-color: #293449;
}

.top-header {
    display: flex;
    align-items: center;

    color: #ffffff;

    font-size: 17px;
    line-height: 18px;

    background-color: #293449;
}

.top-header-left {
    display: flex;
    align-items: center;
}

.search-form {
    width: 270px;

    margin-left: 17px;
}

.search-area {
    border: none;

    background-color: #293449;
}

.search-area::-webkit-input-placeholder {
    color: #ffffff;
}

.search-area::-moz-input-placeholder {
    color: #ffffff;
}

.search-area:hover,
.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.search-area:focus {
    color: #000000;

    background-color: #ffffff;
}

.top-header-right {
    display: flex;
    align-items: center;

    margin-left: auto;
}

.top-header-right a{
    color: #ffffff;
}

.bookmarks {
    width: 150px;

    padding: 14px 25px 13px 44px;

    box-sizing: border-box;
}

.cart {
    width: 150px;

    padding: 14px 26px 13px 49px;

    box-sizing: border-box;
}

.bookmarks:active,
.cart:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #161d29;
}

.order-button {
    width: 150px;

    padding: 14px 22px 13px 20px;

    box-sizing: border-box;

    background-color: #63a63e;
}

.order-button:hover {
    background-color: #5fbb2d;
}

.order-button:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

.main-header-layout {
    padding-bottom: 60px;

    background-color: #f4f7f9;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;

    padding-top: 46px;
    margin-bottom: 45px;

    background-color: #f4f7f9;
}

.main-title {
    width: 200px;

    margin: 0;
    padding: 0;
    margin-left: 52px;

    color: #ee3643;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    text-align: left;
}

.main-header-center {
    width: 270px;

    text-align: center;
}

.main-header-center p {
    margin: 0;
    padding: 0;

    padding-top: 10px;
}

.main-header-center .tel-number {
    width :270px;

    padding: 12px 0;

    text-align: center;

    color: #ee3643;

    font-size: 21px;
    line-height: 21px;

    border: 3px solid #ffffff;
}

.main-header-center .adress {
    color: #32425c;

    font-size: 14px;
    line-height: 24px;
}

.main-header-right ul {
    display: flex;

    list-style: none;
}

.login-link {
    width: 120px;

    text-align: center;
}

.login-link .button {
    width: 120px;

    padding: 12px 27px 12px 15px;
}

.registration-link {
    width: 150px;

    text-align: center;

    margin-left: 10px;
}

.registration-link .button {
    width: 150px;

    padding: 12px 25px;
}

.user-profile {
    display: flex;
    justify-content: space-between;

    padding: 15px 0;

    width: 300px;
}

.user-profile p {
    margin: 0;
}

.user-profile-menu {
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 10px;

    list-style: none;
}

.user-profile-menu a:first-child {
    margin-left: 18px;
    margin-right: 30px;
}

.main-header-right a {
    color: #000000;

    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}

.main-header-right .button:hover {
    color: #ee3643;
}

.main-header-right .button:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.main-navigation ul {
    list-style: none;
}

.site-navigation {
    display: flex;
    justify-content:space-around;
    align-items: center;


    margin: 0;
    padding: 0;

    padding-top: 22px;
    padding-bottom: 22px;
}

.site-navigation-item a {
    color: #ffffff;

    font-size: 17px;
    line-height: 17px;
}

.site-navigation-item:hover {
    background-color: #293449;
}

.site-navigation-item a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

/* Main Content */

.about-left h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.about-left p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.delivery-services {
    list-style: none;
}

.delivery-services li {
    font-size: 18px;
    line-height: 20px;
}

.about {
    display: flex;
    justify-content: space-between;

    padding: 10px;

    margin-bottom: 86px;
}

.about-left {
    width: 540px;
}

.about-left h2 {
    margin: 0;
    padding: 0;

    margin-bottom: 25px;
}

.about-left p {
    margin: 0;
    padding: 0;
}

.about-left p:first-of-type {
    margin-bottom: 35px;
}

.about-left a {
    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;
}

.about-left a:hover {
    background-color: #ca2c37;
}

.about-left a:active {
    background-color: #ba2732;
}

.delivery-services {
    margin-bottom: 40px;
}

.contacts {
    width: 300px;
}

.contacts h2 {
    margin: 0;
    padding: 0;

    margin-bottom: 25px;

    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.contacts p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.map {
    margin-bottom: 40px;
}

.contacts a {
    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;
}

.contacts a:hover {
    background-color: #ca2c37;
}

.contacts a:active {
    background-color: #ba2732;
}
/* FOOTER////////////////////////////////////////////////////// */

.main-footer-layout {
    width: 100%;

    background-color: #32425c;
}

.main-footer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0;

    background-color: #32425c;
}
.main-footer-left {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 33px;
}

.main-footer-left p {
    margin: 0;
    padding: 0;

    margin-bottom: 55px;

    color: #f1f5f7;

    font-size: 18px;
    line-height: 24px;
}

.main-footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-footer-right ul {
    list-style: none;
}

.site-sections {
    display: flex;
    justify-content: space-between;
    width: 550px;

    margin: 0;
    padding: 0;

    margin-top: 42px;
    margin-bottom : 40px;
}

.site-sections a {
    color: #f1f5f7;

    font-size: 18px;
    line-height: 24px;
}

.site-sections a:hover {
    text-decoration: underline;
}

.site-sections a:active {
    color: rgba(241, 245, 247, 0.5);
}

.product-categories {
    display: flex;
    justify-content: space-between;

    width: 525px;

    margin: 0;
    padding: 0;
}

.product-categories a {
    color: #ffd180;

    font-size: 18px;
    line-height: 24px;
}

.product-categories a:hover {
    text-decoration: underline;
}

.product-categories a:active {
    color: rgba(255, 209, 128, 0.5);
}

.bottom-footer-layout {
    width: 100%;

    background-color: #293449;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #293449;
}

.bottom-footer-left p {
    margin: 0;
    padding: 0;

    color: #ffffff;

    font-size: 16px;
    line-height: 18px;
}

.bottom-footer-center ul {
    list-style: none;
}

.social-items {
    display: flex;

    margin: 0;
    padding: 0;
}

.social-button {
    color: #ffffff;
}

.bottom-footer-right {
    display: flex;

    font-size: 16px;
    line-height: 18px;
}

.bottom-footer-right p {
    display: flex;
    flex-direction: column;
}

.bottom-footer-right p:first-child {
    margin-right: 50px;
}

.bottom-footer-right span {
    color: #ffffff;
}

.bottom-footer-right a {
    color: #ffd180;
}

.bottom-footer-right a:hover {
    text-decoration: underline;
}

.bottom-footer-right a:active {
    color: #ee3643;
}

/* Модальные окна, которые на этом этапе стилизовать не нужно */

.modal {
    display: none;
}


/* //  Каталог  //////////////////////////////////////////////// */

.top-header-right .cart-full {
    background-color: #ee3643;
}

.user-profile {
    background-color: #ffffff;
}

.user-profile a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-profile-menu a {
    color: #32425c;

    font-size: 16px;
    line-height: 18px;

    text-decoration: underline;

    background-color: #f2f6f8;
}

.user-profile-menu a:hover {
    color: #ee3643;
}

.user-profile-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
    display: flex;

    padding: 24px 0 25px 0;
}

.breadcrumbs li {
    list-style: none;

    margin-right: 39px;
}

.breadcrumbs a {
    color: #000000;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;
}

.main-content h1 {
    padding: 32px 0 34px 28px;
}

.catalog-section {
    color: #32425c;

    font-size: 30px;
    line-height: 30px;
    font-weight: normal;

    text-transform: uppercase;

    background-color: #f2f6f8;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filter {
    margin-right: 20px;

    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

.filter h2 {
    margin: 0 0 12px 0;
    padding: 13px 0 15px 18px;

    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    background-color: #f7f3ec;
}

.filter-form {
    width: 220px;
}

.filter-form fieldset {
    padding: 0;

    border: none;
}

.filter-form legend {
    margin: 0;
    padding: 0;

    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
}

.filter-form ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

.filter-by-price legend {
    margin-bottom: 23px;
}

.filter-by-brand legend {
    margin-bottom: 23px;
}

.filter-brands li{
    margin-bottom: 29px;
}

.filter-by-power legend {
    margin-bottom: 20px;
}

.filter-power li{
    margin-bottom: 29px;
}

.filter-brands label,
.filter-power label {
    font-size: 15px;
    line-height: 20px;
}

.filter-input:disabled + label {
    color: rgba(0, 0, 0, 0.4);
}

.filter-by-power {
    margin-bottom: 82px;
}

.filter-show-button {
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;

    border: 1px solid #e5e5e5;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;

    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
}

.catalog-item {
    position: relative;

    width: 220px;

    margin-bottom: 20px;

    border: 1px solid #e5e5e5;
}

.catalog-item img {
    background-color: #ffffff;
}

.chosen-product {
    position: absolute;
    top: 0px;
    left: 0px;

    display: none;

    background-color: #ffffff;
}

.catalog-item:hover .chosen-product {
    display: block;
}

.chosen-product .buy-button {
    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #63a63e;

    box-shadow: 0 3px 0 0 #367315;
}

.chosen-product .buy-button:hover {
    background-color: #5fbb2d;
}

.chosen-product .buy-button:active {
    background-color: #518534;

    box-shadow: none;
}

.chosen-product .bookmark-button {
    color: #32425c;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    border: 3px solid #63a63e;
}

.chosen-product .bookmark-button:hover {
    border: 3px solid #32425c;
}

.chosen-product .bookmark-button:active {
    color: rgba(50, 66, 92, 0.3);

    border: 3px solid rgba(50, 66, 92, 0.3);
}

.catalog-item:hover {
    border: none;

    box-shadow: 0px 10px 25px 0 rgba(41, 52,73, 0.5);
}

.catalog-item p:first-of-type {
    margin-bottom: 17px;

    font-size: 18px;
    line-height: 20px;
}

.catalog-item .sale {
    margin-bottom: 14px;

    color: #999999;

    font-size: 17px;
    line-height: 18px;

    text-decoration: line-through;
}

.actual-price {
    margin-bottom: 21px;
    padding: 9px 39px 13px 35px;

    color: #ffffff;

    font-size: 17px;
    line-height: 18px;

    background-color: #ee3643;
}
