body {
    font-family: "Cuprum", Arial, sans-serif;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.top-header-layout {
    background-color: #293449;
}

.top-header {
    display: flex;
    align-items: center;

    margin-top: -1px;

    color: #ffffff;

    font-size: 17px;
    line-height: 18px;

    background-color: #293449;
}

.top-header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 13px 55px 8px 55px;

    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.inner-page-logo:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;

}

.inner-page-logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.search-form {
    display: flex;

    position: relative;

    width: 250px;
    height: 42px;

    padding-left: 17px;
}

.search-area-label {
    padding-right: 13px;
}

.search-icon {
    padding-top: 12px;

    opacity: 0.3;
}

.search-area-field {
    width: 100%;
    border: none;

    background-color: #293449;
}

.search-area-field::-webkit-input-placeholder {
    color: #ffffff;
}

.search-area-field::-moz-input-placeholder {
    color: #ffffff;
}

.search-form:hover,
.search-area-field:hover,
.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.search-area-field:focus {
    color: #000000;

    background-color: #ffffff;
}

.top-header-right {
    display: flex;
    align-items: center;

    margin-left: auto;
}

.top-header-right a{
    color: #ffffff;
}

.bookmarks {
    position: relative;

    width: 150px;

    padding: 12px 25px 13px 44px;

    box-sizing: border-box;
}

.bookmarks::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 17px;

    width: 14px;
    height: 16px;

    background-image: url("../img/icon-bookmark.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.3;
}

.cart {
    position: relative;

    width: 150px;

    padding: 12px 26px 13px 49px;

    box-sizing: border-box;
}

.cart::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 18px;

    width: 15px;
    height: 15px;

    background-image: url("../img/icon-cart.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.3;
}

.bookmarks:hover::before,
.cart:hover::before {
    opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
    opacity: 0.5;
}


.bookmarks:active,
.cart:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #161d29;
}

.order-button {
    width: 150px;

    padding: 12px 22px 13px 20px;

    box-sizing: border-box;

    background-color: #63a63e;
}

.order-button:hover {
    background-color: #5fbb2d;
}

.order-button:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

.main-header-layout {
    padding-bottom: 64px;

    background-color: #f4f7f9;
}

.main-header {
    display: flex;
    justify-content: space-between;

    padding-top: 46px;
    margin-bottom: 39px;

    background-color: #f4f7f9;
}

.main-header-left {
    margin-top: 0;
    margin-left: 52px;
}

.main-title {
    width: 197px;

    margin: 0;
    padding:0;
    margin-top: 2px;

    color: #ee3643;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    text-align: left;
}

.main-header-center {
    margin-left: 4px;
}

.main-header-center-catalog {
    margin-left: 18px;
}

.main-header-center p {
    margin: 0;
    padding: 0;
}

.main-header-center .tel-number {
    position: relative;

    min-width: 270px;

    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 10px;
    margin-left: -6px;
    margin-right: -8px;
    margin-bottom: 2px;

    text-align: center;

    color: #ee3643;

    font-size: 21px;
    line-height: 21px;

    border: 3px solid #ffffff;

    box-sizing: border-box;
}

.main-header-center .tel-number-catalog {
    padding-left: 21px;
}

.tel-number::before {
    content: "";

    width: 19px;
    height: 19px;

    position: absolute;
    top: 10px;
    left: 12px;

    background-image: url("../img/icon-phone.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-header-center .adress {
    margin-left: 3px;

    color: #32425c;

    font-size: 14px;
    line-height: 24px;
}

.main-header-right ul {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.login-link .button {
    display: inline-block;

    position: relative;

    padding: 12px;
    padding-right: 26px;
    padding-bottom: 12px;
    padding-left: 48px;

    box-sizing: border-box;
}

.login-link .button::before {
    content: "";

    position: absolute;
    top: 14px;
    left: 15px;

    width: 20px;
    height: 17px;

    background-image: url("../img/icon-login.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.1;
}

.login-link:hover .button::before {
    opacity: 1;
}

.login-link:active .button::before {
    opacity: 0.3;
}

.registration-link {
    margin-left: 10px;
}

.registration-link .button {
    display: inline-block;

    width: 150px;

    padding-top: 12px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-left: 24px;

    box-sizing: border-box;
}

.main-header-right a {
    color: #000000;

    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}

.main-header-right .button:hover {
    color: #ee3643;
}

.main-header-right .button:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.site-navigation {
    display: flex;
    justify-content:space-between;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation-item a {
    display: inline-block;

    padding: 19px 33px;

    color: #ffffff;

    font-size: 17px;
    line-height: 17px;
}

.site-navigation-item:hover {
    background-color: #293449;
}

.site-navigation-item a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

/* // PROMO-BLOCK ////////////////////////////////////  */

.promo-block {
    margin-top: 60px;
}

.promo-block h3 {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;

    font-size: 24px;
    line-height: 30px;

    color: #ffffff;
}

.promo-block a {
    margin-left: 2px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-left: 25px;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    text-decoration: none;

    box-sizing: border-box;

    border-radius: 3px;

    color: #ffffff;
}

.promo-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 33px;
}

.promo-item {
    width: 300px;
    min-height: 123px;

    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 23px;
    padding-top: 21px;

    box-sizing:border-box;
}

.promo-item a {
    background-color: rgba(0, 0, 0, 0.1);
}

.promo-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-container {
    position: relative;

    display: flex;
}

.promo-container-right {
    display: inline-block;
}

.promo-item-1 {
    position: relative;
    background-color: #ffbf47;
    background-image: url("../img/icon-materials.svg");
    background-position: 213px 31px;
    background-repeat: no-repeat;
}

.promo-item-1 .flag {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 60px;
    height: 59px;

    text-indent: -1000px;

    z-index: 2;

    overflow: hidden;
}

.promo-item-1 .flag-new {
    background-image: url("../img/flag-new.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.promo-item-2 {
    background-color: #3bbce3;
    background-image: url("../img/icon-tool.svg");
    background-position: 197px 33px;
    background-repeat: no-repeat;
}

.promo-item-2 a {
    margin-left: 2px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 27px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.promo-item-3 {
    margin-right: 0;

    background-color: #dc91d8;

    background-image: url("../img/icon-technics.svg");
    background-position: 191px 31px;
    background-repeat: no-repeat;
}

.promo-item-3 a {
    margin-left: 0;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 31px;
    padding-bottom: 10px;
    padding-left: 31px;
}

.promo-item-4 {
    margin-right: 0;

    background-color: #8ed78f;

    background-image: url("../img/icon-sale.svg");
    background-position: 196px 26px;
    background-repeat: no-repeat;
}

.promo-item-4 a {
    margin-left: 0;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-left: 23px;
}

.promo-item-5 {
    margin-right: 0;

    background-color: #ffc047;

    background-image: url("../img/icon-delivery.svg");
    background-position: 191px 32px;
    background-repeat: no-repeat;
}

.promo-item-5 a{
    margin-left: 0;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 37px;
    padding-bottom: 10px;
    padding-left: 37px;
}

.main-promo-item {
    position: relative;

    margin-right: 20px;

    color: #ffffff;

    width: 620px;
    height: 266px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-promo-item h3 {
    position: absolute;
    top: 22px;
    left: 24px;

    margin: 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;

    text-transform: uppercase;

    z-index: 1;
}

.main-promo-item p {
    position: absolute;
    top: 60px;
    left: 25px;

    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
}

.main-promo-item a {
    position: absolute;
    bottom: 2px;
    left: 23px;

    padding-left: 49px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-right: 47px;

    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;

    border-radius: 3px;
}

.main-promo-item a:hover {
    background-color: #ca2c37;
}

.main-promo-item a:active {
    background-color: #ba2732;
}

.gallery-scroll {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.gallery-scroll-left {
    position: absolute;
    top: 114px;
    left: 26px;
}

.gallery-scroll-right {
    position: absolute;
    top: 114px;
    right: 20px;
}

.promo-slider {
    display: flex;

    position: absolute;

    bottom: 36px;
    left: 295px;
}

.slider-dot-left {
    position: relative;

    width: 10px;
    height: 10px;

    border-radius: 50%;

    background-color: #ffffff;
}

.slider-dot-left::after {
    display: none;

    position: absolute;
    top: 2px;
    left: 2px;

    content: "";
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background-color: #ee3643;

}

.slider-dot-right {
    position: relative;

    margin-left: 10px;

    width: 10px;
    height: 10px;

    border-radius: 50%;

    background-color: #ffffff;
}

.slider-dot-right::after {
    position: absolute;
    top: 2px;
    left: 2px;

    content: "";
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background-color: #ee3643;
}

.main-promo-item-slide2 {
    display:none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.main-promo-item-slide2 p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.popular {
    margin-bottom: 62px;
}

.headline-layout {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 26px;
    padding-left: 30px;


    background-color: #f9f5f0;

    box-sizing: border-box;
}

.headline-layout h2 {
    margin: 0;
    margin-left: -1px;
    padding: 0;

    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;

    color: #32425c;
}

.headline-layout a {
    margin-top: -5px;
    padding-left: 55px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-right: 54px;

    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;

    border-radius: 3px;
}

.promo-catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;

    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
}

.promo-catalog-list .catalog-item:nth-child(4n+4) {
    margin-right: 0;
}

.popular-brands-layout {
    margin-bottom: 21px;
    padding-top: 31px;
    padding-right: 25px;
    padding-bottom: 26px;
    padding-left: 30px;


    background-color: #f9f5f0;

    box-sizing: border-box;
}

.headline-layout-brands h2 {
    margin: 0;
    margin-left: -6px;
    padding: 0;
}

.headline-layout-brands a {
    margin-top: -5px;
    padding-left: 68px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-right: 68px;
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.brand-list .brand-item {
    display: flex;

    min-width: 220px;
    min-height: 145px;

    margin-bottom: 20px;

    border: 1px solid #eaeaea;
}

.brand-list .brand-item:hover {
    border: 1px solid transparent;

    box-shadow: 0px 10px 25px 0 rgba(41, 52,73, 0.5);
}

.brand-list .brand-item:active {
    border: 1px solid transparent;

    box-shadow: 0px 4px 10px 0 rgba(41, 52,73, 0.5);

    opacity: 0.3;
}

.brand-item .brand-item-logo {
    display: flex;
    align-items: center;

    margin: 0 auto;
}

.services {
    margin-bottom: 79px;

    background-color: #f4f8f9;
}

.services h2 {
    margin: 0;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 26px;

    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.services p {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;

    font-size: 13px;
    line-height: 24px;
}

.service-menu {
    margin-top: 67px;
    padding-bottom: 103px;
}

.delivery-section,
.warranty-section,
.credit-section {
    display: flex;
}

.warranty-section,
.credit-section {
    display: none;
}

.service-menu-catalog {
    position: relative;

    min-width: 240px;

    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 21px;
    font-weight: bold;
    line-height: 30px;

    color: #32425c;
}

.service-menu-catalog::after {
    content: url("../img/service-vertical-line.png");
    position: absolute;
    top: -40px;
    right: 0;
}

.menu-item-description {
    width: 380px;

    margin-left: 80px;
}

.menu-item-description h3{
    margin: 0;
    padding: 0;
    padding-bottom: 24px;

    font-size: 36px;
    font-weight: normal;
    line-height: 36px;

    text-transform: uppercase;

    color: #32425c;
}

.menu-item-description p {
    position: relative;
    margin: 0;
    padding: 0;
}

.delivery-preview {
    width: 276px;
}

.delivery-preview p::after {
    content: url("../img/delivery-truck.png");
    position: absolute;
    top: -35px;
    left: 151px;
}

.warranty-preview p:after {
    content: url("../img/warranty.png");
    position: absolute;
    top: -58px;
    left: 230px;
}

.credit-preview p:after {
    content: url("../img/credit.png");
    position: absolute;
    top: -67px;
    left: 151px;
}

.credit-preview .credit-button {
    margin-top: 25px;
    padding-top: 11px;
    padding-right: 40px;
    padding-bottom: 11px;
    padding-left: 40px;

    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;

    border: none;

    border-radius: 3px;
}

.service-menu-item {
    padding-top: 14px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 22px;

    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;

    color: #ffffff;

    background-color: #32425c;
}

.service-menu-item:hover {
    background-color: #293449;
}

.service-menu-item:active {
    color: #32425c;

    background-color: #ffffff;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.service-menu-current-item {
    color: #32425c;

    background-color: #ffffff;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.service-menu-current-item:hover {
    color: #32425c;

    background-color: #ffffff;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.delivery-services {
    margin: 0;
    padding: 0;

    margin-bottom: 44px;

    list-style: none;
}

.delivery-services li {
    position: relative;

    margin-bottom: 20px;
    padding-left: 36px;

    font-size: 18px;
    line-height: 20px;
}

.delivery-services li::before {
    content: "";

    position: absolute;
    top: 9px;
    left: -1px;

    width: 23px;
    height: 0;

    border: 1px solid #ee3643;

}

.about {
    display: flex;
    justify-content: space-between;

    margin-bottom: 97px;
}

.about-left {
    width: 540px;
}

.about-left h2 {
    margin: 0;
    padding: 0;

    margin-bottom: 26px;

    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.about-left p {
    margin: 0;
    padding: 0;

    margin-bottom: 24px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about-left p:last-of-type {
    margin-bottom: 21px;
}

.about-left a {
    padding: 11px 40px 11px 40px;

    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;

    border-radius: 3px;
}

.about-left a:hover {
    background-color: #ca2c37;
}

.about-left a:active {
    background-color: #ba2732;
}

.contacts {
    width: 300px;
}

.contacts h2 {
    margin: 0;
    padding: 0;

    margin-bottom: 26px;

    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.contacts p:first-of-type {
    width: 180px;
}

.contacts p {
    margin: 0;
    padding: 0;

    margin-bottom: 31px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.map {
    margin-bottom: 44px;
}

.contacts .button {
    padding: 11px 62px 11px 60px;

    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;

    border-radius: 3px;
}

.contacts .button:hover {
    background-color: #ca2c37;
}

.contacts .button:active {
    background-color: #ba2732;
}
/* FOOTER////////////////////////////////////////////////////// */

.main-footer-layout {
    width: 100%;

    background-color: #32425c;
}

.main-footer {
    display: flex;
    justify-content: space-between;

    background-color: #32425c;
}
.main-footer-left {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 7px;
}

.main-footer-left p {
    padding-left: 3px;
    margin-bottom: 49px;

    color: #f1f5f7;

    font-size: 18px;
    line-height: 24px;
}

.main-footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-footer-right ul {
    list-style: none;
}

.site-sections {
    display: flex;
    justify-content: space-between;
    width: 550px;

    margin: 0;
    padding: 0;

    margin-top: 39px;
    margin-bottom : 34px;
}

.site-sections a {
    color: #f1f5f7;

    font-size: 18px;
    line-height: 24px;
}

.site-sections a:hover {
    text-decoration: underline;
}

.site-sections a:active {
    color: rgba(241, 245, 247, 0.5);
}

.product-categories {
    display: flex;
    justify-content: space-between;

    width: 525px;

    margin: 0;
    padding: 0;
}

.product-categories a {
    color: #ffd180;

    font-size: 18px;
    line-height: 24px;
}

.product-categories a:hover {
    text-decoration: underline;
}

.product-categories a:active {
    color: rgba(255, 209, 128, 0.5);
}

.bottom-footer-layout {
    width: 100%;

    background-color: #293449;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #293449;
}

.bottom-footer-left {
    margin-right: 40px;
}

.bottom-footer-left p {
    margin: 0;
    padding: 0;

    color: #ffffff;

    font-size: 16px;
    line-height: 18px;
}

.bottom-footer-center ul {
    list-style: none;
}

.social-items {
    display: flex;

    margin: 0;
    padding: 0;
}

.social-button {
    margin-left: 5px;
}

.social-button a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 41px;
    height: 41px;

    background-color: #212a3a;
    border-radius: 50%;
}

.social-button a:hover,
.social-button a:active {
    background-color: #ee3643;
}

.bottom-footer-right {
    display: flex;

    padding-right: 15px;

    font-size: 16px;
    line-height: 18px;
}

.bottom-footer-right p {
    display: flex;
    flex-direction: column;
}

.bottom-footer-right p:first-child {
    margin-right: 51px;
}

.bottom-footer-right span {
    color: #ffffff;
}

.bottom-footer-right a {
    color: #ffd180;
}

.bottom-footer-right a:hover {
    text-decoration: underline;
}

.bottom-footer-right a:active {
    color: #ee3643;
}

/* //  Каталог  //////////////////////////////////////////////// */

.top-header-right .cart-full {
    background-color: #ee3643;
}

.user-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-width: 300px;

    margin: 0;
    padding: 0;
    margin-bottom: 7px;

    background-color: #ffffff;
}

.user-profile .user-name {
    position: relative;

    display: inline-block;

    padding-top: 12px;
    padding-right: 6px;
    padding-bottom: 12px;
    padding-left: 32px;
}

.user-profile .user-name::before {
    content: "";

    position: absolute;
    top: 13px;
    left: -2px;

    width: 20px;
    height: 18px;

    background-image: url("../img/icon-user.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.3;
}

.user-profile a:active {
    color: rgba(0, 0, 0, 0.3);
}

.exit-profile {
    display: inline-block;

    position: relative;
}

.exit-profile .icon-logout {
    width: 21px;
    height: 17px;

    padding-top: 4px;
    margin-right: -7px;

    opacity: 0.3;
}

.user-name:hover::before,
.icon-logout:hover {
    opacity: 1;
}

.user-name:active::before,
.icon-logout:active {
    opacity: 0.3;
}

.user-profile-menu {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.user-profile-menu a {
    color: #32425c;

    font-size: 16px;
    line-height: 18px;

    text-decoration: underline;

    background-color: #f2f6f8;
}

.user-profile-menu a:first-child {
    position: relative;

    margin-left: 18px;
    margin-right: 14px;
}

.my-orders::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -19px;

    width: 0;
    height: 0;

    border: 2px solid #32425c;
    border-radius: 50%;

}

.user-profile-menu a:hover {
    color: #ee3643;
}

.user-profile-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
    display: flex;

    margin: 0;
    padding: 21px 0;

}

.breadcrumbs li {
    position: relative;

    margin-right: 40px;

    list-style: none;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";

    position: absolute;
    top: 3px;
    right: -23px;

    width: 8px;
    height: 12px;

    background-image: url("../img/icon-right-small.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a {
    display: inline-block;

    color: #000000;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;
}

.main-content h1 {
    margin: 0;
    margin-bottom: 21px;
    padding-top: 29px;
    padding-bottom: 27px;
    padding-left: 28px;
}

.catalog-section {
    color: #32425c;

    font-size: 30px;
    line-height: 30px;
    font-weight: normal;

    text-transform: uppercase;

    background-color: #f2f6f8;
}

.catalog-columns {
    display: flex;
}

.filter {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.filter h2 {
    margin: 0;
    margin-bottom: 11px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 19px;

    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    background-color: #f7f3ec;

    border-radius: 2px;
}

.filter-form {
    width: 220px;
}

.filter-form fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter-form legend {
    margin: 0;
    padding: 0;

    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
}

.filter .filter-by-price {
    margin-bottom: 16px;
    padding-bottom: 15px;

    border-bottom: 1px solid #e5e5e5;
}

.filter-by-price legend {
    margin-bottom: 4px;
}

.range-filter {
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;

    width: 220px;
}
.range-controls {
    position: relative;

    height: 80px;

    margin-bottom: 9px;
    padding: 0 20px;

    background-color: #f7f3ec;

    border-radius: 3px;

    overflow: hidden;
}
.scale {
    margin-top: 39px;

    height: 2px;

    background-color: #d7dcde;
}
.bar {
    margin-left: 0px;

    width: 140px;
    height:2px;

    background-color:#00ca74;
}
.toggle {
    position: absolute;
    top: 30px;
    left: 30px;

    cursor: pointer;
}
.min-toggle {
    left: 20px;
}
.max-toggle {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-controls .min-price,
.price-controls .max-price {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;

    width: 96px;

    border: none;

    color: #000000;

    background-color: #f7f3ec;

    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    text-align: center;

    border-radius: 3px;

    background-color: #f7f3ec;
}

.price-controls .min-price::-webkit-input-placeholder,
.price-controls .max-price::-webkit-input-placeholder {
    color: #000000;
}

.price-controls .min-price::-moz-input-placeholder,
.price-controls .max-price::-moz-input-placeholder {
    color: #000000;
}

.filter-form ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

.filter .filter-by-brand {
    margin-bottom: 19px;

    border-bottom: 1px solid #e5e5e5;
}

.filter-by-brand legend {
    margin-bottom: 14px;
}

.filter-option {
    padding-left: 34px;
    margin-bottom: 20px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
}

.filter-by-power legend {
    margin-bottom: 14px;
}

.filter-power li{
    margin-bottom: 20px;
}

.filter-brands label,
.filter-power label {
    font-size: 15px;
    line-height: 20px;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    top: -1px;
    left: -34px;

    width: 23px;
    height: 23px;

    background-image: url("../img/icon-checkbox-off.svg");
    background-position: 0 0;
    background-repeat:no-repeat;

    opacity: 0.7;
}

.filter-input-checkbox:checked + label::before {
    content: "";

    position: absolute;
    top: -1px;
    left: -34px;

    width: 27px;
    height: 23px;

    background-image: url("../img/icon-checkbox-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

}

.filter-input-checkbox:hover + label::before {
    opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
    opacity: 0.4;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -35px;

    width: 25px;
    height: 25px;

    background-image: url("../img/icon-radio-off.svg");
    background-position: 0 0;
    background-repeat:no-repeat;

    opacity: 0.7;
}

.filter-input-radio:checked + label::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -35px;

    width: 25px;
    height: 25px;

    background-image: url("../img/icon-radio-on.svg");
    background-position: 0 0;
    background-repeat:no-repeat;
}

.filter-input-radio:hover + label::before {
    opacity: 1;
}

.filter-input-radio:disabled + label::before {
    opacity: 0.4;
}

.filter-input:disabled + label {
    color: rgba(0, 0, 0, 0.4);
}

.filter .filter-by-power {
    margin-bottom: 58px;
}

.filter-show-button {
    margin: 0;
    padding-top: 10px;
    padding-right: 39px;
    padding-bottom: 8px;
    padding-left: 38px;


    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;

    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.catalog-sorting {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
    margin-left: 20px;

    border-radius: 2px;

    background-color: #f7f3ec;
}

.catalog-sorting h2 {
    margin: 0;
    margin-right: 140px;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 19px;


    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    text-transform: uppercase;
}

.catalog-sorting p {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #ee3643;
}

.catalog-sorting .sort-by-price {
    margin-right: 71px;
}

.catalog-sorting .sort-current {
    color: #ee3643;

    border-bottom: none;
}

.catalog-sorting .sort-by-price:hover,
.catalog-sorting .sort-by-type:hover,
.catalog-sorting .sort-by-functions:hover {
    color: rgba(0, 0, 0, 1);

    border-bottom-style: solid;
}

.catalog-sorting .sort-current:hover {
    color: #ee3643;

    border-bottom: none;
}

.catalog-sorting .sort-by-price:active,
.catalog-sorting .sort-by-type:active,
.catalog-sorting .sort-by-functions:active {
    color: #ee3643;

    border-bottom: none;
}
.catalog-sorting .sort-by-type {
    margin-right: 64px;
}

.catalog-sorting .sort-by-functions {
    margin-right: 48px;
}

.catalog-sorting button {
    margin: 0;
    padding: 0;

    border: none;

    background-color: transparent;
}

.sort-up polygon,
.sort-down polyline {
    fill: rgba(0, 0, 0, 0.3);
}

.sort-up polygon:hover,
.sort-down polyline:hover {
    fill: rgba(0, 0, 0, 1);
}

.sort-up polygon:active,
.sort-down polyline:active {
    fill: #ee3643;
}

.catalog-sorting .sort-down {
    margin-left: 20px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-bottom: 42px;
    margin-left: 20px;
    padding: 0;

    list-style: none;

    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
}

.catalog-item {
    position: relative;

    width: 218px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-bottom: 20px;

    text-align: center;

    border: 1px solid #e5e5e5;
}

.catalog-list .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item .flag {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 60px;
    height: 59px;

    text-indent: -1000px;

    z-index: 2;

    overflow: hidden;
}

.catalog-item .flag-new {
    background-image: url("../img/flag-new.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.catalog-item img {
    max-width: 100%;

    background-color: #ffffff;
}

.catalog-item .chosen-product {
    display: none;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 218px;
    height: 88px;

    padding: 40px 0;

    background-color: #ffffff;

    z-index: 10;
}

.catalog-item:hover .chosen-product {
    display: block;
}

.chosen-product .buy-button,
.chosen-product .bookmark-button {
    display: block;

    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    color: #ffffff;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    text-transform: uppercase;

    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;

    background-color: #63a63e;
}

.chosen-product .bookmark-button {
    color: #32425c;
    background-color: #ffffff;
    border-bottom-color: #63a63e;
}

.chosen-product .buy-button:hover {
    background-color: #5fbb2d;
}

.chosen-product .buy-button:active {
    background-color: #518534;
}

.chosen-product .bookmark-button:hover {
    border: 3px solid #32425c;
}

.chosen-product .bookmark-button:active {
    color: rgba(50, 66, 92, 0.3);

    border: 3px solid rgba(50, 66, 92, 0.3);
}

.catalog-item:hover {
    border: 1px solid transparent;

    box-shadow: 0px 10px 25px 0 rgba(41, 52,73, 0.5);
}

.catalog-item .title {
    margin: 0;
    margin-top: 6px;
    margin-bottom: -4px;
    padding: 0 25px;

    font-size: 18px;
    line-height: 20px;
}

.catalog-item .sale {
    min-height: 20px;

    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 3px;

    color: #999999;

    font-size: 17px;
    line-height: 18px;

    text-decoration: line-through;
}

.catalog-item .sale-hidden {
    visibility: hidden;
}

.catalog-item .actual-price {
    position: relative;

    width: 80px;

    margin: 10px auto;
    margin-bottom: 18px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;

    color: #ffffff;

    font-size: 17px;
    line-height: 18px;

    background-color: #ee3643;

    border-radius: 3px;
}

.catalog-item .actual-price:after {
    content: "";

    position: absolute;
    top: 0px;
    right: -20px;

    width: 0;
    height: 0;

    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}

.pagination-list {
    display: flex;

    margin: 0;
    margin-bottom: 70px;
    margin-left: 20px;
    padding: 0;

    list-style: none;
}

.pagination-item a {
    margin-right: 10px;
    padding-top: 9px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 15px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;

    color: #000000;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-item-next a {
    padding-top: 9px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 31px;
}

.pagination-item a:active {
    border-color: #ee3643;
}

.pagination-item-current a {
    color: #ffffff;

    border: 1px solid #ee3643;

    background-color: #ee3643;
}

.about-category {
    background-color: #f2f6f8;
}

.about-category h3 {
    margin: 0;
    padding-top: 65px;
    padding-right: 1px;
    padding-bottom: 26px;
    padding-left: 1px;


    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.about-category p {
    margin: 0;
    padding: 0;
    padding-bottom: 68px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}


/* //  Модальные окна  /////////////////////////////////////////////// */

.modal {
    position: fixed;
    z-index: 3;

    background-color: #ffffff;
}

.modal-map {
    display: none;

    width: 940px;
    height: 446px;

    margin-left: -470px;

    top: 150px;
    left: 50%;
}

.modal-map img {
    box-shadow: 0 0 20px 0 rgba(47, 42, 43, 0.5);
}

.close-map {
    position: absolute;
    top: 9px;
    right: 9px;

    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
}

.modal-container {
    width: 460px;
    margin: 0 auto;
}

.modal-feedback {
    display: none;
    width: 620px;
    height: 430px;

    margin-left: -310px;

    top: 150px;
    left: 50%;

    box-shadow: 0 0 20px 0 rgba(47, 42, 43, 0.5),
                inset 0 5px 0 0 #ff5357;
}

.close-feedback {
    position: absolute;
    top: 16px;
    right: 9px;

    margin: 0;
    padding: 0;

    background-color: transparent;

    border: none;
}

.modal-feedback h2 {
    margin: 0;
    padding: 0;
}

.feedback .user-contacts {
    display: flex;
    justify-content: space-between;

    padding-top: 56px;
    margin-bottom: 19px;
}

.user-contacts label {
    display: flex;
    flex-direction: column;
}

.feedback-name input {
    padding: 10px 16px;

    width: 220px;

    box-sizing: border-box;
}

.feedback-name span {
    margin-bottom: 9px;
}

.feedback-email input {
    padding: 10px 16px;

    width: 220px;

    box-sizing: border-box;
}

.feedback-email span {
    margin-bottom: 9px;
}

.message label {
    display: flex;
    flex-direction: column;
}

.message-text span {
    margin-bottom: 9px;
}

.message-text textarea {
    padding: 10px 16px;
    margin-bottom: 31px;
}

.feedback-bottom {
    min-height: 112px;

    background-color: #f4f4f4;
}

.submit-button {
    width: 100%;

    margin: 37px 0;
    padding: 12px 0;

    color: #ffffff;

    background-color: #ee3643;

    border: none;

    border-radius: 3px;
}

.modal-cart {
    display: none;

    width: 620px;
    height: 284px;

    margin-left: -310px;

    top: 200px;
    left: 50%;

    box-shadow: 0 0 20px 0 rgba(47, 42, 43, 0.5),
                inset 0 5px 0 0 #ff5357;
}

.close-cart {
    position: absolute;
    top: 16px;
    right: 9px;

    margin: 0;
    padding: 0;

    background-color: transparent;

    border: none;
}

.modal-container h2 {
    display: flex;
    justify-content: center;

    position: relative;

    margin: 0;
    margin-bottom: 78px;
    padding: 0;
    padding-top: 66px;
}

.modal-container h2::before {
    content: "";

    position: absolute;
    top: 48px;
    left: 6px;

    width: 66px;
    height: 66px;

    background-image: url("../img/icon-incart.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

}

.modal-cart-bottom {
    min-height: 112px;

    background-color: #f4f4f4;
}

.modal-cart-buttons {
    display: flex;
    justify-content: space-around;

    padding-top: 37px;
}

.checkout-button {
    padding: 11px 63px 11px 60px;

    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;

    border-radius: 3px;
}

.checkout-button:hover {
    background-color: #ca2c37;
}

.checkout-button:active {
    background-color: #ba2732;
}

.shopping-button {
    padding: 11px 48px 11px 45px;

    color: #000000;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ffffff;

    border-radius: 3px;
}

.shopping-button:active {
    box-shadow: 0 0 0 1px #ee3643;
}

.modal-show {
    display: block;
}
