/* font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif; */

body {
    font-family: "Cuprum", sans-serif;
}

a {
    text-decoration: none;
}

.top-header {
    color: #ffffff;

    font-size: 17px;
    line-height: 18px;

    background-color: #293449;
}

.top-header-right a{
    color: #ffffff;
}

.order-button {
    background-color: #63a63e;
}

label[for="search"]:hover,
input[type="search"]:hover,
.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #161d29;
}

.order-button:hover {
    background-color: #5fbb2d;
}

.order-button:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

label[for="search"]:focus,
input[type="search"]:focus {
    color: #000000;

    background-color: #ffffff;
}

.main-header {
    background-color: #f4f7f9;
}

.main-title {
    color: #ee3643;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    text-align: left;

}

.main-header-center {
    text-align: center;
}

.tel-number {
    color: #ee3643;

    font-size: 21px;
    line-height: 21px;

    border: 3px solid #ffffff;
}

.main-header-center .adress {
    color: #32425c;

    font-size: 14px;
    line-height: 24px;
}

.main-header-right ul {
    list-style: none;
}

.main-header-right a {
    color: #000000;

    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}

.main-header-right .button:hover {
    color: #ee3643;
}

.main-header-right .button:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.main-navigation ul {
    list-style: none;
}

.site-navigation-item a {
    color: #ffffff;

    font-size: 17px;
    line-height: 17px;
}

.site-navigation-item:hover {
    background-color: #293449;
}

.site-navigation-item a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

/* Main Content */

.about-left h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.about-left p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

    /*      Нужно ли здесь убирать маркеры? Не понимаю */
/* .delivery-services { */
    /* list-style: none; */

.delivery-services li {
    font-size: 18px;
    line-height: 20px;
}

.about-left a {
    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;
}

.about-left a:hover {
    background-color: #ca2c37;
}

.about-left a:active {
    background-color: #ba2732;
}

.contacts h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.contacts p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.contacts a {
    color: #ffffff;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    background-color: #ee3643;
}

.contacts a:hover {
    background-color: #ca2c37;
}

.contacts a:active {
    background-color: #ba2732;
}
/* Footer */

.main-footer {
    background-color: #32425c;
}

.main-footer-left p {
    color: #f1f5f7;

    font-size: 18px;
    line-height: 24px;
}

.main-footer-right ul {
    list-style: none;
}

.site-sections a {
    color: #f1f5f7;

    font-size: 18px;
    line-height: 24px;
}

.site-sections a:hover {
    text-decoration: underline;
}

.site-sections a:active {
    color: rgba(241, 245, 247, 0.5);
}

.product-categories a {
    color: #ffd180;

    font-size: 18px;
    line-height: 24px;
}

.product-categories a:hover {
    text-decoration: underline;
}

.product-categories a:active {
    color: rgba(255, 209, 128, 0.5);
}

.bottom-footer {
    background-color: #293449;
}

.bottom-footer-left p {
    color: #ffffff;

    font-size: 16px;
    line-height: 18px;
}

.bottom-footer-center ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.bottom-footer-right {
    font-size: 16px;
    line-height: 18px;
}

.bottom-footer-right span {
    color: #ffffff;
}

.bottom-footer-right a {
    color: #ffd180;
}

.bottom-footer-right a:hover {
    text-decoration: underline;
}

.bottom-footer-right a:active {
    color: #ee3643;
}

/* Модальные окна, которые на этом этапе стилизовать не нужно */

.modal {
    display: none;
}


/* Каталог */

.top-header-right .cart-full {
    background-color: #ee3643;
}

.user-profile {
    background-color: #ffffff;
}

.user-profile a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-profile-menu a {
    color: #32425c;

    font-size: 16px;
    line-height: 18px;

    text-decoration: underline;

    background-color: #f2f6f8;
}

.user-profile-menu a:hover {
    color: #ee3643;
}

.user-profile-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li {
    list-style: none;
}

.breadcrumbs a {
    color: #000000;

    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;
}

.catalog-section {
    color: #32425c;

    font-size: 30px;
    line-height: 30px;
    font-weight: normal;

    text-transform: uppercase;

    background-color: #f2f6f8;
}

.filter {
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
}

.filter h2 {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    background-color: #f7f3ec;
}

.filter-form fieldset {
    border: none;
}

.filter-form legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
}

.filter-form ul {
    list-style: none;
}

.filter-brands label,
.filter-power label {
    font-size: 15px;
    line-height: 20px;
}

.filter-input:disabled + label {
    color: rgba(0, 0, 0, 0.4);
}

button[type="submit"] {
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;

    border: 1px solid #e5e5e5;
}

.catalog-list {
    list-style: none;

    font-family: "PT Sans", sans-serif;
    font-weight: bold;
}

.catalog-item {
    border: 1px solid #e5e5e5;
}

.catalog-item img {
    background-color: #ffffff;
}

/* с тенями у карточек товаров полная беда */
.catalog-item:hover {
    border: none;

    box-shadow: 10px 0 0 25px rgba(41, 52,73, 0.5);
}

.catalog-item p:first-of-type {
    font-size: 18px;
    line-height: 20px;
}

.catalog-item p:nth-of-type(2) {
    color: #999999;

    font-size: 17px;
    line-height: 18px;

    text-decoration: line-through;
}

.buying-button {
    color: #ffffff;

    font-size: 17px;
    line-height: 18px;

    background-color: #ee3643;
}
